.container {
    max-width: 1440px;
    margin: 0px auto;
    padding: 1px 130px;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

/* @media (width:1200px) {
    .container_menu {
        margin-left: 10px;
    }

}

@media (max-width:992px) {
    .container {
        width: 100%;
    }

}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
} */


.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
}

.menu_items {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #A6A6A6;
    padding-left: 44px;
    transition: 0.3s;
}

.menu_items:hover {
    color: #E89B1B;
}

.login:hover {
    color: #E89B1B;
}

.sign_up:hover {
    color: #E89B1B;
}

.try_free:hover {
    color: #E89B1B;
}


/* .menu_items > div:not(:last-child) {} */


.logo {
    color: #54BD95;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
}

.registration {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    height: 40px;
}

.login {
    color: #A6A6A6;
    padding-right: 20px;
    padding-top: 10px;
    transition: 0.3s;
}

.sign_up {
    color: #F8F8FA;
    border: 1px solid #54BD95;
    border-radius: 10px;
    background-color: #54BD95;
    padding: 11px 10px 10px 10px;
    transition: 0.3s;
}

.Text_Logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    color: #191A15;
    width: 555px;
    height: 270px;
    margin-top: 105px;
}

.text_down {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    width: 461px;
    height: 90px;
    margin-top: 50px;
}

.img_line {
    margin-top: 30px;
    height: 26px;
    width: 479px;
}

.licoso {
    display: flex;
    justify-content: end;
    margin-top: 120px;
    margin-bottom: 50px;
    position: relative;
}

.rectang {
    position: absolute;
    left: -58px;
    top: 174px;
}

.vector25 {
    position: absolute;
    left: -43px;
    top: 191px;
}

.group59{
    position: absolute;
    top: 26px;
    right: -36px;
}

.frame45{
    position: absolute;
    top: 290px;
    right: -112px;
}

.group47{
    position: absolute;
    top: 510px;
    right: 46px;
}
.group46{
    position: absolute;
    top: 422px;
    right: 348px;
}

.left {
    display: flex;
    flex-direction: column;
}

.zastavka1 {
    display: flex;
    justify-content: space-between;
}

.container_menu {
    display: flex;
    /* margin-left: -200px;
    margin-right: -376px; */
}


.container_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 728px;
}

.try_free {
    color: #F8F8FA;
    border: 1px solid #54BD95;
    border-radius: 40px;
    background-color: #54BD95;
    padding: 20px 30px 20px 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 162px;
    height: 64px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transition: 0.3s;
}

.try_and_icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 455px;
}

.icon_small {
    margin-top: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viev_demo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #191A15;
    padding-left: 17px;
    padding-right: 99px;
}

a {
    text-decoration: none !important;
    color: black;
    cursor: pointer;
}

html {
    background-color: #F5F5F5;
}

.more_then{
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #191A15;
    margin-top: 120px;
}

.collabs{
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #A6A6A6;
    margin-top: 61px;
}
.collab{
    display: flex;
    align-items: baseline;
}
.collab img{
    padding-right: 10px;
}

.how_support{
    display: flex;
    justify-content: space-between;
    margin-top: 131px;
}

.left_how{
    display: flex;
    flex-direction: column;
}
.right_how{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
}
.how_we{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #191A15;
    width: 617px;
    height: 122px;
    margin-top: 60px;
}
.SaaS{
    width: 644px;
    height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #A6A6A6;
    margin-top: 30px;
}
.gr1_2{
    margin-top: 73px;
    display: flex;
}
.right_img{
    padding-left: 80px;
}

.our_features{
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
}
.features_text{
    width: 331px;
    height: 122px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #191A15;
}
.we_ofer{
    width: 461px;
    height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
}
.get_started{
    border: 1px solid #54BD95;
    background: #54BD95;
    border-radius: 70px;
    padding: 18px 31px 18px 31px;
    transition: 0.3s;
    width: 164px;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}
.get_started:hover{
    color: #E89B1B;
}

.ccd{
    margin-top: 74px;
    display: flex;
    justify-content: space-around;
}
.collboration{
    display: flex;
    flex-direction: column;
}
.Collboration_Teams{
    width: 286px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #191A15;
    margin-top: 30px;
}
.here_you{
    width: 340px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #A6A6A6;
    margin-top: 20px;
}

.what_ben{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;

}
.what_ben_left{
    display: flex;
    flex-direction: column;
}
.What_Benifit{
    width: 429px;
    height: 122px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #191A15;
}
.what_image{
    margin-top: 50px;
}
.gal_and_ben{
    width: 325px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #191A15;
    display: flex;
    margin-top: 32px;
}
.gal_and_ben img{
    padding-right: 20px;
}
.what_ben_right{
    position: relative;
}
.group111{
    position: absolute;
    top: 31px;
    left: -133px;
}
.group60{
    position: absolute;
    top: 116px;
    right: -78px;
}
.group113{
    position: absolute;
    top: 275px;
    left: -70px;
}
.group49{
    position: absolute;
    top: 473px;
    left: -116px;
}